@import "../../theme";
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  .left-container {
    height: 100vh;
    width: 28.5%;
    //min-width: 340px;
    .andela-logo {
      margin: 20% 0% 0% 13%;
      width: 7.3rem;
      height: 2.2rem;
    }
    .welcome-text {
      margin-top: 48vh;
      margin-left: 3vw;
      width: 60%;
      p {
        font-family: 'DIN Pro Extra Light';
        font-size: 20px;
        .wire {
          font-family: 'DIN Pro Light';
          font-style: italic;
        }
      }
    }
    .button {
      .google-logo {
        display: inline-block;
        min-width: 2vw;
        height: 50%;
        margin-left: 3vw;
      }
      .label {
        display: inline-block;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    .right-text {
      position: absolute;
      color: #fbaf31;
      font-size: 30px;
      font-weight: 400;
      margin-left: 48%;
      text-align: left;
      top: 12.5rem;
      min-width: 10rem;
      white-space: nowrap;
    }
    .underline {
      position: absolute;
      background-color: #fdb237;
      margin-left: 51%;
      min-width: 8rem;
      height: 0.5vh;
      width: 8%;
      border-radius: 5px;
      top: 19.5rem;
    }
  }
}
