@import "../../theme";
.timeline-container {
  display: flex;
  flex-direction: row;
  min-height: 93vh;
  .timeline-sidebar {
    justify-content: flex-start;
    z-index: 2;
    position: relative;
  }
  .timeline-main-content {
    background-color: #ffffff;
    justify-content: flex-end;
    width: 100vw;
    padding: 0 1rem;
    z-index: 0;
    position: relative;
    height: auto;
    overflow: auto;
    .chat-tab,
    .notes-tab {
      &>div {
        &>div {
          height: 4rem !important;
          background-color: map_get($white, 100) !important;
          color: map_get($black, 700) !important;
          width: auto !important;
        }
      }
    }
  }
}

.incident-details {
  padding-top: 2em;

  .incident-subject {
    font-size: 20px;
    font-weight: 300;
    font-family: "DIN Pro Light";
    text-transform: capitalize;
  }

  .incident-flag {
    img {
      width: 2rem;
      height: 1.5rem;
      float: right;
      margin-right: 2em;

    }

    &:hover {
      cursor: pointer;
    }
  }

  .underline {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 3rem;
    top: 1.2rem;
    background-color: #fdb237;
  }

  .incident-description {
    margin-top: 2rem;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;

    .description-details {
      p {
        padding: 1rem;
        font-family: "DIN Pro Light";
        font-size: 12px;
        font-weight: 300;
        line-height: 2.08;
        letter-spacing: normal;
        color: #000000;

        b {
          font-family: "DIN Pro";
        }
      }
    }
  }

  .incident-extra {
    font-weight: 100;
    font-family: "DIN Pro Light";
    font-size: 0.7rem;
    font-style: italic;
  }
}
