@import "../../theme";
.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1.5rem;
  margin-top: 0;
  background-color: #f1f6f8;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.4rem 1rem 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  
  .incident-details {
    padding-top: 0.5rem 0 0.5rem 0;
    .incident-subject {
      font-size: 20px;
      font-weight: 300;
      font-family: "DIN Pro Light";
      text-transform: capitalize;
    }
    .incident-flag {
      img {
        width: 2rem;
        height: 1.5rem;
        margin-left: 1rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .underline {
      width: 150px;
      height: 5px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 3rem;
      top: 1.2rem;
      background-color: #fdb237;
    }
    .incident-description {
      margin-top: 2rem;
      width: 100%;
      border-radius: 5px;
      background-color: #ffffff;
      .description-details {
        p {
          padding: 1rem;
          font-family: "DIN Pro Light";
          font-size: 12px;
          font-weight: 300;
          line-height: 2.08;
          letter-spacing: normal;
          color: #000000;
          b {
            font-family: "DIN Pro";
          }
        }
      }
    }
    .incident-extra {
      font-weight: 100;
      font-family: "DIN Pro Light";
      font-size: 0.7rem;
    }
  }
  .incident-status {
    font-family: "DIN Pro Light";
    font-weight: 400;
    margin-top:1em;
    .list {
      display: flex;
      flex-direction: row;
      margin: 20px;
      .witness-image {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #49abb0;
        margin: 0.6rem 0.5rem 1.5rem 0rem;
        cursor: pointer;
        p {
          font-family: "DIN Pro Light";
          font-size: 20px;
          line-height: 0.25;
          color: #ffffff;
          text-align: center;
        }
        .tooltip-text {
          visibility: hidden;
          background-color: #000000;
          color: white;
          text-align: center;
          border-radius: 6px;
          width: 8rem;
          position: absolute;
          z-index: 1;
          padding: 5px 0;
        }
        &:hover .tooltip-text {
          visibility: visible;
        }
      }
    }
    .incident-dropdown {
    }
    .dropdown {
      position: relative;
      margin-bottom: 20px;
      & > div {
        border-color: black !important;
        & > button {
          & > div {
            svg {
              fill: black !important;
            }
          }
        }
        & > div {
          border-color: black !important;
        }
      }
    }
  }
  .incident-activity {
    overflow: scroll !important;
    height: 25% !important;
    padding: 0.5rem;
    .incident-activity-item {
      background-color: map_get($white, 100);
      border-radius: 0.3rem;
      padding: 0.5rem;
      margin: 1rem 0 !important;
      box-shadow: 0.1rem 0.1rem 0.5rem map_get($grey, 500);
    }
  }
  .location-list {
    p {
      font-family: "DIN Pro Light";
      font-size: 12px;
      font-weight: 300;
      line-height: 2.08;
      letter-spacing: normal;
      color: #000000;
    }
  }
}
