.custom-menu {
  margin: 0 0.5vw;
  min-height: 2.5rem !important;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  
}

.custom-menu:before,.custom-menu:after{
  border-bottom: none !important; 
}

.MuiSelect-icon-101{
  color: #000 !important;
  right: 40px !important;
}

.MuiSelect-selectMenu-99:focus{
  background-color: #fff !important;
}
