@import "../../theme";
.chat-container {
  width: 100%;
  height: 65vh;
  overflow: auto;
  .chat-list {
    overflow: scroll;
    padding-top: 16px !important;
    width: 90%;
    margin: 2rem 0 2rem 5rem;
    .chat-date {
      padding-left: 25px;
      font-weight: 1000 !important;
    }
    .chat-divider {
      margin-top: 45px;
      padding: 0 26px 0 26px !important;
      height: 1px;
      margin-left: 26px;
      margin-right: 20px;
      background:
        repeating-linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 5px, transparent 5px, transparent 12px)
    }
    .no-message {
      width: 244.2px;
      height: 106px;
      background-color: #f3f6f9;
      margin-left: auto;
      border-radius: 5px;
      p {
        font-family: 'DIN Pro';
        font-size: 16px;
        line-height: 1.31;
        letter-spacing: 0.2px;
        color: #000000;
        text-align: center;
        padding: 2.5rem;
      }
    }
  }
}