@import '../../theme.scss';

.user-filter {
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: auto;
  position: relative;
  left: 5vw;
  top: 1.5vh;
  .heading-admin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    p {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem !important;
    }
    .underline-admin {
      width: 6rem;
      height: 0.3rem;
      border-radius: 5px;
      background-color: #3359df;
    }
  }
  .filter-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    top: 16vh;
    width: 68vw;
    height: 8vh;
    .location-filter {
      display: flex;
      flex-direction: row;
      p {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'DIN Pro';
      }
    }
    .right-side-search {
      display: flex;
      flex-direction: row;
      height: 7vh;
      width: auto;
      margin-left: auto;
      align-items: center;
      .search-bar {
        position: relative;
        width: 14vw;
        text-align: right;
        &::before {
          position: absolute;
          content: "";
          background: url('/assets/images/search_icon.svg') no-repeat center;
          top: 0;
          bottom: 0;
          width: 1.15rem;
          margin-left: 0.7rem;
        }
        &:hover .admin-search {
          width: 14vw;
          border-style: solid;
        }
      }
      .admin-search {
        background-color: #f9f9f9;
        width: 1vw;
        height: 3.9vh;
        border: 0.05rem;
        border-width: 0.05rem;
        border-style: none;
        border-color: #ededed;
        border-radius: 0.2rem;
        padding-top: .1rem;
        padding-left: 2.5rem;
        padding-right: 1rem;
        margin: auto;
        outline: none;
        transition: all 0.9s;
        font-family: 'DIN Pro';
        font-weight: 400;
        font-size: 1rem;
        color: #000;
        &::placeholder {
          font-family: 'DIN Pro Extra Light';
          font-size: 12px;
        }
      }
    }
  }
}
